body {
  margin: 0;
  padding: 0;
  background: #f4f7fb;
  font-family: Arial, Helvetica, sans-serif;
}

.card-dashboard {

  background: white;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0px 4px 15px rgba(0,0,0,0.08);

}

.card-dashboard h3 {

  color: #666;
  margin-bottom: 20px;

}

.card-dashboard h1 {

  color: #1d3557;

}
.menu-btn {

  text-decoration: none;
  background: #eef1f5;
  padding: 15px;
  border-radius: 10px;
  color: #4a5568;
  font-weight: 500;
  transition: 0.3s;

}

.menu-btn:hover {

  background: #2a9d8f;
  color: white;

}
